<div id="wrapper">
  <div id="site-ui">

    <div id="welcome-banner">
      <h1>
        USF's Catan Board Generator
      </h1>
    </div>

    <div id="content-holder">

      <div id="generate-area">
        <p>Select Generation Options:</p>
        <input type="radio" name="mode" value="normal" (click)="toggleToNormal()" checked="checked">Normal
        <span> vs. </span>
        <input type="radio" name="mode" value="extension" (click)="toggleToExtension()">Extension
        <br>
        <input type="radio" name="threeTouchAllowed" value="true" (click)="toggleToTrueRandom()" checked="checked">True
        Random
        <span> vs. </span>
        <input type="radio" name="threeTouchAllowed" value="false" (click)="toggleToRuleAbiding()">Rule Abiding
        <br>
        <button id="genButton" (click)="generateBoard()">Generate Board</button>
      </div>

      <div *ngIf="getMode() === 'normal'" id="hcholder">

        <div class="honeycomb" style="margin-left: 232px; ">
          <div id="tile0" class="honeybg">
            <div *ngIf="getResourceByIndex(0) !== 'desert'" class="circle">
              <p id="chit0" class="chit">{{getNumberByIndex(0)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-left: 387px; ">
          <div id="tile1" class="honeybg">
            <div *ngIf="getResourceByIndex(1) !== 'desert'" class="circle">
              <p id="chit1" class="chit">{{getNumberByIndex(1)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-left: 542px; ">
          <div id="tile2" class="honeybg">
            <div *ngIf="getResourceByIndex(2) !== 'desert'" class="circle">
              <p id="chit2" class="chit">{{getNumberByIndex(2)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 154px; ">
          <div id="tile3" class="honeybg">
            <div *ngIf="getResourceByIndex(3) !== 'desert'" class="circle">
              <p id="chit3" class="chit">{{getNumberByIndex(3)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 309px; ">
          <div id="tile4" class="honeybg">
            <div *ngIf="getResourceByIndex(4) !== 'desert'" class="circle">
              <p id="chit4" class="chit">{{getNumberByIndex(4)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 464px; ">
          <div id="tile5" class="honeybg">
            <div *ngIf="getResourceByIndex(5) !== 'desert'" class="circle">
              <p id="chit5" class="chit">{{getNumberByIndex(5)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 619px; ">
          <div id="tile6" class="honeybg">
            <div *ngIf="getResourceByIndex(6) !== 'desert'" class="circle">
              <p id="chit6" class="chit">{{getNumberByIndex(6)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 77px; ">
          <div id="tile7" class="honeybg">
            <div *ngIf="getResourceByIndex(7) !== 'desert'" class="circle">
              <p id="chit7" class="chit">{{getNumberByIndex(7)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 232px; ">
          <div id="tile8" class="honeybg">
            <div *ngIf="getResourceByIndex(8) !== 'desert'" class="circle">
              <p id="chit8" class="chit">{{getNumberByIndex(8)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 387px; ">
          <div id="tile9" class="honeybg">
            <div *ngIf="getResourceByIndex(9) !== 'desert'" class="circle">
              <p id="chit9" class="chit">{{getNumberByIndex(9)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 542px; ">
          <div id="tile10" class="honeybg">
            <div *ngIf="getResourceByIndex(10) !== 'desert'" class="circle">
              <p id="chit10" class="chit">{{getNumberByIndex(10)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 697px; ">
          <div id="tile11" class="honeybg">
            <div *ngIf="getResourceByIndex(11) !== 'desert'" class="circle">
              <p id="chit11" class="chit">{{getNumberByIndex(11)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 154px; ">
          <div id="tile12" class="honeybg">
            <div *ngIf="getResourceByIndex(12) !== 'desert'" class="circle">
              <p id="chit12" class="chit">{{getNumberByIndex(12)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 309px; ">
          <div id="tile13" class="honeybg">
            <div *ngIf="getResourceByIndex(13) !== 'desert'" class="circle">
              <p id="chit13" class="chit">{{getNumberByIndex(13)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 464px; ">
          <div id="tile14" class="honeybg">
            <div *ngIf="getResourceByIndex(14) !== 'desert'" class="circle">
              <p id="chit14" class="chit">{{getNumberByIndex(14)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 619px; ">
          <div id="tile15" class="honeybg">
            <div *ngIf="getResourceByIndex(15) !== 'desert'" class="circle">
              <p id="chit15" class="chit">{{getNumberByIndex(15)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 232px; ">
          <div id="tile16" class="honeybg">
            <div *ngIf="getResourceByIndex(16) !== 'desert'" class="circle">
              <p id="chit16" class="chit">{{getNumberByIndex(16)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 387px; ">
          <div id="tile17" class="honeybg">
            <div *ngIf="getResourceByIndex(17) !== 'desert'" class="circle">
              <p id="chit17" class="chit">{{getNumberByIndex(17)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 542px; ">
          <div id="tile18" class="honeybg">
            <div *ngIf="getResourceByIndex(18) !== 'desert'" class="circle">
              <p id="chit18" class="chit">{{getNumberByIndex(18)}}</p>
            </div>
          </div>
        </div>

      </div>


      <!-- EXTENSION BOARD -->
      <div *ngIf="getMode() === 'extension'" id="ehcholder">

        <div class="honeycomb" style="margin-left: 232px; ">
          <div id="etile0" class="honeybg">
            <div *ngIf="getResourceByIndex(0) !== 'desert'" class="circle">
              <p id="echit0" class="chit">{{getNumberByIndex(0)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-left: 387px; ">
          <div id="etile1" class="honeybg">
            <div *ngIf="getResourceByIndex(1) !== 'desert'" class="circle">
              <p id="echit1" class="chit">{{getNumberByIndex(1)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-left: 542px; ">
          <div id="etile2" class="honeybg">
            <div *ngIf="getResourceByIndex(2) !== 'desert'" class="circle">
              <p id="echit2" class="chit">{{getNumberByIndex(2)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 154px; ">
          <div id="etile3" class="honeybg">
            <div *ngIf="getResourceByIndex(3) !== 'desert'" class="circle">
              <p id="echit3" class="chit">{{getNumberByIndex(3)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 309px; ">
          <div id="etile4" class="honeybg">
            <div *ngIf="getResourceByIndex(4) !== 'desert'" class="circle">
              <p id="echit4" class="chit">{{getNumberByIndex(4)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 464px; ">
          <div id="etile5" class="honeybg">
            <div *ngIf="getResourceByIndex(5) !== 'desert'" class="circle">
              <p id="echit5" class="chit">{{getNumberByIndex(5)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 125px; margin-left: 619px; ">
          <div id="etile6" class="honeybg">
            <div *ngIf="getResourceByIndex(6) !== 'desert'" class="circle">
              <p id="echit6" class="chit">{{getNumberByIndex(6)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 77px; ">
          <div id="etile7" class="honeybg">
            <div *ngIf="getResourceByIndex(7) !== 'desert'" class="circle">
              <p id="echit7" class="chit">{{getNumberByIndex(7)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 232px; ">
          <div id="etile8" class="honeybg">
            <div *ngIf="getResourceByIndex(8) !== 'desert'" class="circle">
              <p id="echit8" class="chit">{{getNumberByIndex(8)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 387px; ">
          <div id="etile9" class="honeybg">
            <div *ngIf="getResourceByIndex(9) !== 'desert'" class="circle">
              <p id="echit9" class="chit">{{getNumberByIndex(9)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 542px; ">
          <div id="etile10" class="honeybg">
            <div *ngIf="getResourceByIndex(10) !== 'desert'" class="circle">
              <p id="echit10" class="chit">{{getNumberByIndex(10)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 249px; margin-left: 697px; ">
          <div id="etile11" class="honeybg">
            <div *ngIf="getResourceByIndex(11) !== 'desert'" class="circle">
              <p id="echit11" class="chit">{{getNumberByIndex(11)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 0px; ">
          <div id="etile12" class="honeybg">
            <div *ngIf="getResourceByIndex(12) !== 'desert'" class="circle">
              <p id="echit12" class="chit">{{getNumberByIndex(12)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 154px; ">
          <div id="etile13" class="honeybg">
            <div *ngIf="getResourceByIndex(13) !== 'desert'" class="circle">
              <p id="echit13" class="chit">{{getNumberByIndex(13)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 309px; ">
          <div id="etile14" class="honeybg">
            <div *ngIf="getResourceByIndex(14) !== 'desert'" class="circle">
              <p id="echit14" class="chit">{{getNumberByIndex(14)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 464px; ">
          <div id="etile15" class="honeybg">
            <div *ngIf="getResourceByIndex(15) !== 'desert'" class="circle">
              <p id="echit15" class="chit">{{getNumberByIndex(15)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 619px; ">
          <div id="etile16" class="honeybg">
            <div *ngIf="getResourceByIndex(16) !== 'desert'" class="circle">
              <p id="echit16" class="chit">{{getNumberByIndex(16)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 373px; margin-left: 774px; ">
          <div id="etile17" class="honeybg">
            <div *ngIf="getResourceByIndex(17) !== 'desert'" class="circle">
              <p id="echit17" class="chit">{{getNumberByIndex(17)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 77px; ">
          <div id="etile18" class="honeybg">
            <div *ngIf="getResourceByIndex(18) !== 'desert'" class="circle">
              <p id="echit18" class="chit">{{getNumberByIndex(18)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 232px; ">
          <div id="etile19" class="honeybg">
            <div *ngIf="getResourceByIndex(19) !== 'desert'" class="circle">
              <p id="echit19" class="chit">{{getNumberByIndex(19)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 387px; ">
          <div id="etile20" class="honeybg">
            <div *ngIf="getResourceByIndex(20) !== 'desert'" class="circle">
              <p id="echit20" class="chit">{{getNumberByIndex(20)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 542px; ">
          <div id="etile21" class="honeybg">
            <div *ngIf="getResourceByIndex(21) !== 'desert'" class="circle">
              <p id="echit21" class="chit">{{getNumberByIndex(21)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 497px; margin-left: 697px; ">
          <div id="etile22" class="honeybg">
            <div *ngIf="getResourceByIndex(22) !== 'desert'" class="circle">
              <p id="echit22" class="chit">{{getNumberByIndex(22)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 621px; margin-left: 154px; ">
          <div id="etile23" class="honeybg">
            <div *ngIf="getResourceByIndex(23) !== 'desert'" class="circle">
              <p id="echit23" class="chit">{{getNumberByIndex(23)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 621px; margin-left: 309px; ">
          <div id="etile24" class="honeybg">
            <div *ngIf="getResourceByIndex(24) !== 'desert'" class="circle">
              <p id="echit24" class="chit">{{getNumberByIndex(24)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 621px; margin-left: 464px; ">
          <div id="etile25" class="honeybg">
            <div *ngIf="getResourceByIndex(25) !== 'desert'" class="circle">
              <p id="echit25" class="chit">{{getNumberByIndex(25)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 621px; margin-left: 619px; ">
          <div id="etile26" class="honeybg">
            <div *ngIf="getResourceByIndex(26) !== 'desert'" class="circle">
              <p id="echit26" class="chit">{{getNumberByIndex(26)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 745px; margin-left: 232px; ">
          <div id="etile27" class="honeybg">
            <div *ngIf="getResourceByIndex(27) !== 'desert'" class="circle">
              <p id="echit27" class="chit">{{getNumberByIndex(27)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 745px; margin-left: 387px; ">
          <div id="etile28" class="honeybg">
            <div *ngIf="getResourceByIndex(28) !== 'desert'" class="circle">
              <p id="echit28" class="chit">{{getNumberByIndex(28)}}</p>
            </div>
          </div>
        </div>

        <div class="honeycomb" style="margin-top: 745px; margin-left: 542px; ">
          <div id="etile29" class="honeybg">
            <div *ngIf="getResourceByIndex(29) !== 'desert'" class="circle">
              <p id="echit29" class="chit">{{getNumberByIndex(29)}}</p>
            </div>
          </div>
        </div>



      </div>

    </div>

  </div>
</div>