<!--The content below is only a placeholder and can be replaced.-->
<div id="welcome-banner" style="text-align:center">
  <h1>
    Jami & Ari's Catan Board Generator
  </h1>
</div>

<!-- <div id="gen-options-area" style="text-align:left">
  <p>Select Generation Options:</p>
  <input type="checkbox"> Normal
</div> -->

<button (click)="generateBoard()">Generate Board</button>




<div id="hcholder">

  <div class="honeycomb" style="margin-left: 155px; ">
    <div class="honeybg" style="background: url('http://78.media.tumblr.com/9550aca74aad0fd39b1aa085b231c42e/tumblr_old9z8HkmN1uax39eo3_r1_250.gif');background-size: cover;"></div>
  </div>

  <div class="honeycomb" style="margin-left: 310px; ">
    <div class="honeybg" style="background: url('https://68.media.tumblr.com/ccbac62a9ea5d8333550687b754e6c41/tumblr_om96czfIJY1qjz9w2o3_250.gif'); background-size: cover;"></div>
  </div>

  <div class="honeycomb" style="margin-top: 125px; margin-left: 232px; ">
   <div class="honeybg"></div>
  </div>

  <div class="honeycomb" style="margin-top: 125px; margin-left: 77px; ">
    <div class="honeybg" style="background: url('http://78.media.tumblr.com/dae54ccc30f3699e023618c65e42f6c1/tumblr_inline_omz7xye9BW1rifr4k_500.gif'); background-size: cover;"></div>
  </div>

  <div class="honeycomb" style="margin-top: 125px; margin-left: 387px; ">
    <div class="honeybg" style="background: url('https://78.media.tumblr.com/04178dc2710bf45591933aa6c91b6e8e/tumblr_ol9szitlr11tlpgtco1_400.gif'); background-size: cover;"></div>
  </div>

  <div class="honeycomb" style="margin-top: 249px; margin-left: 155px; ">
   <div class="honeybg" style="background: url('http://78.media.tumblr.com/286393f22cb99f0c20749457b1923528/tumblr_inline_owwylvVuIO1qlt39u_400.gif'); background-size: cover;"></div>
  </div>

  <div class="honeycomb" style="margin-top: 249px; margin-left: 310px; ">
   <div class="honeybg" style="background: url('http://78.media.tumblr.com/d61e0d2c1c86207b391156b6a93315a3/tumblr_inline_onaju6GQ981txmes7_250.gif'); background-size: cover;"></div>
  </div>

</div>
