#hcholder {
  width: 1000px;
  height: 1000px;
}

.honeycomb {
  position: absolute;
  width: 150px;
  height: 160px;
  background: #202020;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;
}


.honeybg {
  position: absolute;
  width: 150px;
  height: 160px;
  margin-top: 0;
  margin-left: 0;
  right:0px;
  left: 0px;
}

.ore {
  background: #4B4B46;
  background-size: cover;
}

.brick {
  background: #A43728;
  background-size: cover;
}

.wood {
  background: #0D4B1F;
  background-size: cover;
}

.hay {
  background: #F0BF10;
  background-size: cover;
}

.sheep {
  background: #60C92E;
  background-size: cover;
}

.desert {
  background: #BCAC7C;
  background-size: cover;
}



